.botton_box {
    width: 100%;
    background-color: #29231f;
    color: #A8B7CA;
    display: flex;
    justify-content: center;
}

h4 {
    margin: 0;
    padding: 0.5rem 0;
}

.botton_box:hover {
    background-color: #8592A2;
    color: #C8D7EB;
}