@media (min-width: 375px) {
  .icon {
    font-size: 24px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -0.3rem;
  }
}

@media (min-width: 760px) {
  .icon {
    font-size: 28px;
    margin-left: 1rem;
    margin-right: 1.5rem;

  }
}

@media (min-width: 1100px) {
  .icon {
    font-size: 36px;
    margin-left: 1rem;
    margin-right: 1.5rem;
    margin-bottom: -0.5rem;
  }
}

.icon:hover {
  fill: aliceblue;
  stroke: aliceblue;
}

.userInfo {
  cursor: pointer;
  margin-bottom: -1rem;
}

.userInfoText {
  font-size: 1rem;
  font-family:'Montserrat';
  font-weight: 600;
  opacity: 1;
  margin-top: -0.2rem;
  margin-left: -5px;
}

.userInfoOutlined {
  font-size: 1rem;
  padding-left: 0.6rem;
}

@media (min-width: 920px) {
  .userInfoText {
    font-size: 0.7rem;
    margin-top: 0.3rem;
  }

  .userInfoOutlined {
    font-size: 1.5rem;
    padding-left: 0.2rem;
  }
}