.acce_box{
    background-color: #EFEDE9;
    color: #412613;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    padding-top: 5rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.title{
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-direction: row; 
}
.hand_img{
    margin-top: 5rem;
    width: 100%;
}
.text{
    margin-left: 10rem;
    margin-bottom: 5rem;
}
p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}