.breadcrumb {
    margin-top: 6rem;
    margin-left: 8%;
}

.row {
    width: 100%;
}

.ProductDetail_box {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 4rem auto;
    font-family:'Montserrat', sans-serif;
    text-align: left;
}

.image {
    width: 100%;
}

.product_name {
    margin-left: 0;
    margin-top: 0;
    font-size: 2rem;
    font-weight: 700;
}

.product_category {
    font-size: 1.5rem;
    font-weight: 400;
}

.product_description {
    font-size: 1.5rem;
    font-weight: 500;
}

.line {
    margin-top: 5rem;
    border-bottom: opx solid;
}

.product_price {
    font-size: 1.5rem;
    font-weight: 400;
}

.qty_box {
    height: 3rem;
    border: solid 1px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0;
    font-size: 2.5rem;
}

.description_title {
    font-size: 1.25rem;
    font-weight: 500;
    margin:0;
}

.description_content {
    font-size: 1rem;
    font-weight: 400;
}

.unfold{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.7rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    border-bottom: 1px solid;
    
}
@keyframes rotate {
    from {
      transform: rotate(90deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
.icon {
    color: #412613;
    animation-name: rotate;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
