.breadcrumb {
    margin-top: 8rem;
    margin-left: 8%;
}

.row {
    width: 100%;
}

.ProductDetail_box {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 4rem auto;
    font-family:'Montserrat', sans-serif;
    text-align: left;
}

.image {
    width: 100%;
}

.product_name {
    margin-left: 0;
    margin-top: 0;
    font-size: 2rem;
    font-weight: 700;
}

.product_category {
    font-size: 1.5rem;
    font-weight: 400;
}

.product_description {
    font-size: 1.5rem;
    font-weight: 500;
}

.line {
    margin-top: 2rem;
    border-bottom: 1px solid;
}

.product_price {
    font-size: 1.5rem;
    font-weight: 400;
}

.number_box {
    height: 3rem;
    border: #412613 solid 1px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0;
    font-size: 2.5rem;
}

.description_title {
    font-size: 1.5rem;
    font-weight: 500;
}

.description_content {
    font-size: 1.25rem;
    font-weight: 400;
}