.mani_box{
    background-color: #EFEDE9;
    color: #412613;
    display: flex;
    flex-direction: column ;
    padding-top: 5rem;
}
.title{
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-direction: row;
}
.content{
    
    display: flex;
    flex-direction: column;
    margin: auto;
}
.lumiere{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
}
.text2{
    font-family:'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.ohora{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.p1{
    display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.lumiere_text{
    display: flex;
   flex-direction: column;
   align-items: flex-start;
    margin-left: 15rem;
}
.ohora_text{
    margin-right: 15rem;
    display: flex;
   flex-direction: column;
   align-items: flex-start;
}