.mani_box{
    background-color: #EFEDE9;
    color: #412613;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
}
.title{
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-direction: row;
    
}