.tools_box{
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.row {
    width: 90%;
}

.news_img1{
    width: 100%;
}
.news_img2{
    width: 100%;
}
.news_img3{
    width: 100%;
}