.tools_box{
    background-color: #EFEDE9;
    color: #412613;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
}
.content{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.row {
    margin: 2rem 2rem;
}

.news_img1{
    /* margin-right: 5rem; */
    width: 100%;
}
.news_img2{
    width: 100%;
}
.news_img3{
    /* margin-left: 5rem; */
    width: 100%;
}