.box {
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-direction: row;
  
}
.title{
    color: #412613;
}

.title:hover {
    color: #8a6243;
  }

@media (min-width: 320px) {
    p1{
        font-size: 2em;
        margin: 0em;
        margin-left: 0.6em;
    }
    p2{
        font-size: 2em;
        margin: 0em;
        padding-top: 0.3em;
        margin-left: 0.5em;
    }
}
@media (min-width: 390px) {
    p1{
        font-size: 3.5em;
        margin: 0em;
        margin-left: 0.6em;
    }
    p2{
        font-size: 3.5em;
        margin: 0em;
        padding-top: 0.2em;
        margin-left: 0.5em;
    }
}
@media (min-width: 760px) {
    p1{
        font-size: 5.5em;
        margin: 0em;
        margin-left: 0.6em;
    }
    p2{
        font-size: 4.5em;
        margin: 0em;
        padding-top: 0.2em;
        margin-left: 0.5em;
    }
}
@media (min-width: 1280px) {
    p1{
        font-size: 8em;
        margin: 0em;
        margin-left: 0.8em;
    }
    p2{
        font-size: 6em;
        margin: 0em;
        padding-top: 0.3em;
        margin-left: 0.5em;
    }
}

