.header_box {
    background-color: #29231F;
    color: #A8B7CA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:'Montserrat', sans-serif;

}
.icon {
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem;
    filter: invert(0.73) saturate(0.24) hue-rotate(188deg);
}

.icon:hover {
    filter: invert(1) saturate(0.24) hue-rotate(188deg);
}

.nav_Box {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.navItem {
    color: #A8B7CA;
    margin: 1rem;
}

.navItem:hover {
    color: #C8D7EB;
}  

.navItemActive {
    color: #C8D7EB;
    margin: 1rem;
}

.navItemActive:hover {
    color: #C8D7EB;
}

.header_right_box {
    display: flex;
    align-items: center;
}