.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 72%;
    margin-top: 8rem;
}
.title1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 48px;
}
.title2{
    font-family:'Montserrat';
    border-bottom: 2px solid #412613;
    padding-bottom: 1.5rem;
    margin-bottom: 0rem;
    font-size: 24px;
    margin-top: 0.8rem;

}
.title3{
    font-family:'Montserrat';
    margin-top: 5px;
    margin-bottom: 5px;

}
.title31{
    margin-bottom: 0;
}
.title32{
    margin-top: 0;
    text-align: left;
}
.news_img{
    width: 100%;
}
.text_box{
    margin-bottom: 5rem;
    text-align: left;
}
.text1{
    font-family: 'Cormorant Garamond', serif;
    margin-top: 3rem;
    font-size: 36px;
}
.text2{
    font-family:'Montserrat';
    font-size: 20px;
    text-align:left;
}