h4,h6 {
    margin: 0.5rem;
}
.contact_box {
    display: flex;
    justify-content: space-around;
    background-color: #8592A2;
    /* padding: 4rem 0; */
    text-align: left;
}

.contact_title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.contact_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

.contact_img {
    width: 12rem;
    height: 10rem;
}

.footer_box {
    /* padding: 4rem 4rem; */
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_content {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 5rem;
}

.icon_box {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.icon {
    width:4.5rem;
    height: 4.5rem;
    margin: 1rem;
}