.product_box {
    font-family:'Montserrat', sans-serif;
    color: #29231f;
    text-align: left;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 2rem;
    width: 100%;
}

.img {
    width: 100%;
}

h3,h4 {
    padding: 0;
    margin: 0;
    margin: 1rem 0.5rem 0 ;
}

.price {
    margin: 1rem 0.5rem 1rem;
}

