.progressBar{

}

.inner_progressBar{

}
@media (min-width: 375px){
    .icon {
        font-size: 24px;
        /* margin-right: 1.5rem; */
    }
}
@media (min-width: 760px){
    .icon {
        font-size: 28px;
        /* margin-right: 1.5rem; */
    }
}
@media (min-width: 1100px){
    .icon {
        font-size: 32px;
        /* margin-right: 1.5rem; */
    }
}

.icon {
/* color: #412613; */
animation-name: rotate;
animation-duration: 0.3s;
animation-timing-function: ease-out;
animation-fill-mode: forwards;
margin-right: 0.5rem;
}

.icon_darkMode{
color: #C8D7EB;
}

.icon:hover {
fill: aliceblue;
stroke: aliceblue;
}

.cart_text {
    text-align: center;
}

.title_bag {
    font-family: 'Cormorant';
    font-size: 2rem;
    margin-top: 0;
    font-weight: 400;
}

.row{
    justify-content: space-between;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    margin-top: 2rem;
}

.item_info{
    width: 100%;
}

.item_image {
    width: 100%;
}

.item_title_box{
    display: flex;
    justify-content: space-between;
}

.item_name {
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.btn_delete{
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
}

.btn_delete:hover {
    cursor: pointer;
}

.item_catogory {
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.item_price {
    font-weight: 400;
    font-size: 1rem;
}

.qty_box {
    width: 80%;
    height: 1.5rem;
    border: solid 1px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
}

.qty_button {
    padding: 0 0.8rem;
    background-color: transparent;
    border-radius: 0;
}

.qty_button:hover {
    border: none;
}

.btn_icon{
    width: 10px;
}

.btn_clearCart {
    margin-top: 1rem;
    cursor: pointer;
    width: 5rem;
}

.subtotal{
    margin-top: 15%;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px;
}

.subtotal_title {
    font-family: 'Cormorant';
    font-size: 2rem;
}

.subtotal_price {
    font-family: 'Montserrat';
    font-size: 1.8rem;
}

.subtotal_text {
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 400;
    margin: 5% 0;
}

.btn_check_out {
    margin-top: 10%;
    width: 100%;
    height: 3rem;
    background-color: #412613;
    color: #EFEDE9;
    font-weight: 400;
}

