.news_box{
    background-color: #EFEDE9;
    color: #412613;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
}
.news_img{
    
    margin:0em;
}
.title{
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-direction: row;
    
}

@media (max-width: 390px) {
    .itle1{
        font-size: 4em;
        margin: 0em;
        margin-left: 0.6em;
    }
    .title2{
        font-size: 3em;
        margin: 0em;
        padding-top: 0.3em;
        margin-left: 0.5em;
    }
}
@media (min-width: 390px) {
    .title1{
        font-size: 5.5em;
        margin: 0em;
        margin-left: 0.6em;
    }
    .title2{
        font-size: 4.5em;
        margin: 0em;
        padding-top: 0.2em;
        margin-left: 0.5em;
    }
}
@media (min-width: 760px) {
    .title1{
        font-size: 5.5em;
        margin: 0em;
        margin-left: 0.6em;
    }
    .title2{
        font-size: 4.5em;
        margin: 0em;
        padding-top: 0.2em;
        margin-left: 0.5em;
    }
}
@media (min-width: 1280px) {
    .title1{
        font-size: 8em;
        margin: 0em;
        margin-left: 0.8em;
    }
    .title2{
        font-size: 6em;
        margin: 0em;
        padding-top: 0.3em;
        margin-left: 0.5em;
    }
}

