.box{
    background-color: #EFEDE9;
    color: #412613;
    display: flex;
    flex-direction: column ;
    padding-top: 1rem;
  
}
.news_img{ 
    margin:0em;
}
.title{
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-direction: row;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}
.saying{
    font-family:'Montserrat';
    font-size: 1.3rem;
    font-weight: bold;
}
.newstitle{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    margin-bottom: 0%;
}
.date{
    font-family:'Montserrat', sans-serif;
    font-size: 1rem;
   border-top: 2px solid #412613;
   padding-top: 1.5rem;

}

@media (max-width: 390px) {
    
}
@media (min-width: 760px) {
  
}
@media (min-width: 1280px) {
    
}

