.box{
    display: flex;
    flex-direction: column ;
    padding-top: 1rem;
  
}
.news_img{ 
    margin: 0em;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 90%;
}
.saying{
    font-family:'Montserrat';
    font-size: 1.3rem;
    font-weight: bold;
 
}
.newstitle{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    margin-bottom: 0%;
    text-align: left;
}
.date{
    font-family:'Montserrat', sans-serif;
    font-size: 1rem;
   padding-top: 1.5rem;
}



@media (min-width: 320px) {
    .saying{
        width: 100%;
        font-family:'Montserrat';
        font-size: 0.5rem;
        font-weight: bold;
    }
    .newstitle{
        font-family: 'Cormorant Garamond', serif;
        font-size: 0.8rem;
        text-align: left;
        margin-bottom: 0%;
    }
    .date{
        font-family:'Montserrat', sans-serif;
        font-size: 0.5rem;
       border-top: 1px solid ;
       padding-top: 1.5rem;
    
    }
}
@media (min-width: 768px) {
    .saying{
        width: 100%;
        font-family:'Montserrat';
        font-size: 0.8rem;
        font-weight: bold;
        margin-bottom: 1.5rem;

    }
    .newstitle{
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.8rem;
        text-align: left;
        margin: 1rem 0;
    }
    .date{
        font-family:'Montserrat', sans-serif;
        font-size: 1rem;
       border-top: 2px solid ;
       padding-top: 1.5rem;
    
    }
}
@media (min-width: 1280px) {
    .saying{
        width: 100%;
        font-family:'Montserrat';
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 3rem;
    }
    .newstitle{
        font-family: 'Cormorant Garamond', serif;
        font-size: 2.5rem;
        margin-bottom: 0%;
    }
    .date{
        font-family:'Montserrat', sans-serif;
        font-size: 1rem;
        border-top: 2px solid;
        padding-top: 1.5rem;
    }
}

