.handc_box{
    background-color: #EFEDE9;
    color: #412613;
    display: flex;
    flex-direction: column ;
    justify-content: flex-start;
    padding-top: 5rem;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.title{
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-direction: row; 
}
.h_img{
    margin-top: 5rem;
    width: 100%;
}

p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
}

@media (min-width: 320px) {
    .text{
        margin-left: 10%;
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .text{
        margin-left: 10%;
        font-size: 2rem;
    }
}