/* 1rem = 16px */
    .banner_img {
        display: block;
        width: 100%;
        height: auto;
}

    .header {
        display: flex;
        justify-content: space-between;
}


@media (min-width: 390px) {
    
}
@media (min-width: 760px) {
    
}
@media (min-width: 1280px) {
   
}

@media (min-width: 1280px) {

}
    .container {
        position: relative;
        width: 100%;
    
}
    .row{
        display: flex;
        flex-direction: row;
}
    .t1{
       
        position: absolute;
        top: -280%; /* 將文字垂直置中 */
        left: 20%; /* 將文字水平置中 */
        transform: translate(20%, -50%); /* 將文字置中 */
        font-size: 1em;
        color: white;
       
  }
    .t2{
       
    position: absolute;
    top: -280%; /* 將文字垂直置中 */
    left: 20%; /* 將文字水平置中 */
    transform: translate(20%, -50%); /* 將文字置中 */
    font-size: 1em;
    color: white;
    margin-left: 8rem;
    margin-top: -2px;
   
}
    .t3{
       
        position: absolute;
        top: -300%; /* 將文字垂直置中 */
        left: 20%; /* 將文字水平置中 */
        transform: translate(20%, -50%); /* 將文字置中 */
        font-size: 1em;
        color: white;
   
}
    .t4{
        
        position: absolute;
        top: -250%; /* 將文字垂直置中 */
        left: 20%; /* 將文字水平置中 */
        transform: translate(20%, -50%); /* 將文字置中 */
        font-size: 1em;
        color: white;
   
}
    .t5{
       
        position: absolute;
        top: -280%; /* 將文字垂直置中 */
        left: 20%; /* 將文字水平置中 */
        transform: translate(20%, -50%); /* 將文字置中 */
        font-size: 1em;
        color: white;
   
}
     h3{
        margin-left: 2rem;
    }

    .header_position {
        width: 100%;
        position: absolute;
        top: 1rem;
    }

    .icon {
        padding-left: 1rem;
    }

    .banner_title {
        font-family: 'Cormorant Garamond', serif;
        position: absolute;
        top: 12.5rem;
        left: 22.5rem;
    }
    
    .banner_title,h2 {
        text-align: left;
        font-size: 6rem;
        margin: 0;
    }
    
    .banner_title_tab1 {
        position: relative;
        left: 4rem;
    }
    
    .banner_title_tab2 {
        position: relative;
        left: 8rem;
    }
    
    .banner_text_tab2 {
        position: relative;
        left: 8rem;
        margin: 0;
        font-family:'Montserrat', sans-serif;
        text-align: left;
        font-size: 1.5rem;
        font-weight: 300;
    }
    
    .nav_position {
        position: absolute;
        top: 20rem;
        right: 10rem;
    }
    
    .navItem {
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 2rem;
        padding: 2rem;
        color: #412613;
    }   


.icon:hover {
    fill: invert(0.73) sepia(0) saturate(0.24);
}

.navItemActive {
    
}

.navItem:hover {
    color: #8a6243;
} 



